body {
  font-size: 13px;
  font-weight: 400;
  margin: 3px;
  font-family: Helvetica Neue, sans-serif;
  padding: 7px;
}

a, a:visited {
  color: #0000EE;
}

#main {
  margin: 0 auto;
  max-width: 650px;
}